###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=place_your_app_secret_here
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose your transport: doctrine://default, redis://localhost:6379, etc.
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###

###> symfony/mailer ###
MAILER_DSN=null://null
###< symfony/mailer ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=/var/www/html/config/jwt/private.pem
JWT_PUBLIC_KEY=/var/www/html/config/jwt/public.pem
JWT_PASSPHRASE=place_your_jwt_passphrase_here
JWT_TTL=3600
###< lexik/jwt-authentication-bundle ###

# URL da API para o Frontend (Vite)
# Se estiver no Docker, essa URL deve apontar para o host e a porta configurada no ports.env
VITE_API_URL=http://localhost:1010

###> sentry/sentry-symfony ###
SENTRY_DSN=""
###< sentry/sentry-symfony ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

