@plugin "tailwindcss-motion";

@theme {
  --color-brand-50: #d8fff6;
  --color-brand-100: #a3fdea;
  --color-brand-200: #7aedd5;
  --color-brand-300: #45d3b7;
  --color-brand-400: #00ba9c;
  --color-brand-500: #00977d;
  --color-brand-600: #007c64;
  --color-brand-700: #00624e;
  --color-brand-800: #004636;
  --color-brand-900: #003225;
  --color-brand-950: #002117;

  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Lato", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }
}
